body {
    background: #A0B9BF;
    color: #49392C;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #77625C;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

h1 {
    background-color: #98D2EB;
    color: #2E0E02;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px 20px 12px 20px;
    margin-top: 0;
    margin-left:10%;
    float: left;
    position: relative;
    top: 0;
    z-index: 3;
}

.site-links {
    word-spacing: 30px;
    font-size: 20px;    
    text-align: right;
    color: #FFBC42;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 16px 45px 16px 0px;
    margin-top: 0;
    margin-left: -20px;

    position: relative;
    width: 100%;
    top: 0;
    z-index: 2;
}

h2 {
    color: #581908;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 20px 0px 20px;
    width: 76%;
    margin-top: 20px;
}

h3 {
    color: #581908;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin-top: 15px;
}

.column-left {
    float: left;
    position: fixed;
    text-align: center;
    width: 30%;
    margin-left: 15px;

    background-color: #A0B9BF;

    box-sizing: border-box;
}

.column-right {
    float: right;
    margin-top: 80px;
    background-color: #EBCBF4;
    padding: 14px;
    width: 50%;
    height: auto;
    margin-right: 20px;
}

#profile {
    top: 200px;
    float: left;
    margin-left: 40px;
    margin-right: 23px;
    margin-top: 150px;
    padding-bottom: 10px;
    width: 120%;
}

p {
    padding: 0px 10px 0px 21px;
}

a:link {
    color: #550C18;
    text-decoration: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.subcolumn-left {
    float: left;
    text-align: center;
    width: 45%;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 15px;
}

.subcolumn-right {
    float: right;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 45%;
    height: auto;
}

img.portfolio {
    float: left;
    background-color: #f2f2f2;

    padding-bottom: 10px;
    width: 100%;
}

.portfolio:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
}
a:visited {
    color: #CBC9AD;
    text-decoration: none;
}
a.styledlink:visited {
    color: #8E5572;
    text-decoration: none;
}

@media screen and (max-width: 640px) {

.container {
    padding: 0;
    margin-left: 0;
}
h1 { 
    float: none;
    margin-left: 0px;
    position: absolute;
}

}
